---
interface Props {
  title: string;
  description: string;
  slug: string;
  image: {
    src: string;
    alt: string;
  };
}

const { title, description, image, slug } = Astro.props;
---

<a
  class='block'
  href={`/projects/${slug}`}
>
  <article class='space-y-2'>
    <figure>
      <img
        src={image.src}
        alt={image.alt}
        class='w-full h-64 object-cover'
      />
    </figure>

    <div>
      <h4 class='text-lg font-medium text-indigo-500'>{title}</h4>
      <p class='text-sm text-gray-500'>
        {description}
      </p>
    </div>
  </article>
</a>
