---
import type { CollectionEntry } from 'astro:content';
import { getEntries } from 'astro:content';
import Badges from './Badges.astro';

type Props = Pick<
  CollectionEntry<'projects'>['data'],
  'title' | 'description' | 'thumbnail' | 'tags'
> &
  Pick<CollectionEntry<'projects'>, 'slug'>;

const { title, description, thumbnail, slug, tags } = Astro.props;

const projectTags = await getEntries(tags);
---

<a
  class='block'
  href={`/projects/${slug}`}
>
  <article class='space-y-4'>
    <figure>
      <img
        src={thumbnail.src}
        alt={thumbnail.alt}
        class='w-full h-64 object-cover'
      />
    </figure>

    <div class='space-y-4'>
      <div class='space-y-1'>
        <h4 class='text-xl font-medium text-primary'>{title}</h4>
        <p class='text-base'>
          {description}
        </p>
      </div>

      <Badges tags={projectTags} />
    </div>
  </article>
</a>
