---
import Badges from '@/components/Badges.astro';
import PageLayout from '@/layout/PageLayout.astro';
import { getEntries } from 'astro:content';
import { type CollectionEntry, getCollection } from 'astro:content';

type Props = { project: CollectionEntry<'projects'> };

export async function getStaticPaths() {
  const projectEntries = await getCollection('projects');

  return projectEntries.map((project) => ({
    params: {
      slug: project.slug,
    },
    props: {
      project,
    },
  }));
}

const { project } = Astro.props;
const { thumbnail, title, tags } = project.data;
const { Content } = await project.render();

const projectTags = await getEntries(tags);
---

<PageLayout title={title}>
  <header class='space-y-4'>
    <div class='space-y-4'>
      <h1 class='text-5xl font-medium text-primary'>
        {title}
      </h1>
    </div>

    <figure
      role='img'
      aria-labelledby='thumbnail-figcaption'
    >
      <img
        class='w-full h-96 object-cover'
        src={thumbnail.src}
        alt={thumbnail.alt}
      />
    </figure>

    <div class='flex justify-between items-center'>
      <Badges tags={projectTags} />

      <div
        id='thumbnail-figcaption'
        class='text-base italic'
      >
        {thumbnail.figcaption}
      </div>
    </div>
  </header>

  <div
    class='max-w-none prose prose-lg prose-h1:font-medium prose-headings:text-primary prose-headings:font-medium'
  >
    <Content />
  </div>
</PageLayout>
